body{
  width:60%;
}

h1{
  font-size: 20px;
  text-align: center;
}

.contact_form{
  margin:0 auto;
}
tr{
  vertical-align: top;
  height:25px;
}

th{
  text-align: left;
  height:50px;
  padding-right:30px;
}

td{
  display: flex;
  width: 100%;

}
.req{
  color: red;
}
.fullname_input{
  width:100%;
}
.exa{
  display: box;
  color:gray;
  font-size:85%;
  margin-top:3px;
  margin-bottom:0;
}
table input{
  height:20px;
  
}
.input,
.opinion_textarea,
.fullname_input
{
  width: 100%;
}
.opinion_textarea{
  height:100px;
  max-height: 500px;
}
.firstname{
  margin-left: 20px;
}
.lastname_input{
  width:160px;
}
.firstname_input{
  width: 100%;
  margin-right: 0;
}
.fullname_input{
  width: 100%;
}
.radio{
  width:2em;
  height:2em;
}

.postcode_input_flex{
  display: flex;
}
.radio{
  vertical-align: middle;
}

.email_input,
.postcode_input,
.postcode_input_flex,
.address_input,
.building_name_input,
.opinion_input{
  width:100%;
}
.confirm{
  text-align: center;
}
.btn_confirm{
  
  color:white;
  background-color: black;
  text-align: center;
  padding:5px 30px;
  border-radius: 10%;
  margin-top:30px;
}

.gender_input{
  display: flex;
}

.edit{
  text-align: center;
  margin-top:10px;
}

.btn_edit{
  border:0;
  background-color: transparent;
  text-decoration: underline;
  color:black;
  padding-bottom:0;
}
.error{
  font-size:75%;
  color:red;
  margin-top:3px;
}

.thanks_message{
  text-align: center;
  margin-top:40%;
}
.toppage{
  text-align: center;
}

.btn_toppage{
  color:white;
  background-color: black;
  text-align: center;
  padding:5px 30px;
  border-radius: 10%;
  margin-top:30px;

}